html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Questrial', sans-serif;;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    overflow-y: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 2.5rem;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%; 
}
.container-time {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    width: 80%;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2rem;
    margin-right: 3rem;
    font-size: 0.8rem;
}
.navbar .nav__weather {
    margin-right: 1rem;
}
.navbar .nav__weather .img__user {
    width: 1.4rem;
    height: 1.6rem; 
    margin-bottom: -10px;
}
.navbar .nav__weather a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5rem;
    color: black;
    background-color: white;
}
.navbar .nav__weather a:nth-child(1) {
    background-color: black;
    color: white;
}
.navbar .nav__days {
    margin-left: 2.5rem;
}
.navbar .nav__days a:nth-child(1) {
    text-decoration: none;
    color: rgb(184, 183, 183);
    font-weight: bolder;
    margin-right: 0.8rem;
}
.navbar .nav__days a:nth-child(2) {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: 2px solid rgb(184, 183, 183);
    padding-bottom: 2px;
}
#week {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#week .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.4rem;
    background-color:white;
    width: 12.5%;
    height: 7rem;
    border-radius: 10px;
    padding-bottom: 2rem;
}
.day-title {
    padding-top: 2.5rem;
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 0.7rem;
}
.day-img {
    width: 50px;
    height: 50px;
}
.day-degrees{
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
}
.day-degrees .max{
    margin-right: 0.5rem;
}
.day-degrees .min{
    color: rgb(184, 183, 183); 
    font-weight: lighter;
}
.container-time__highlights{
    display: flex;
    flex-direction: column;
}
.highlights__title {
    font-size: 0.8rem;
    margin-left: 2.3rem;
}
#highlights {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.highlight-container {
    display: flex;
    flex-direction: row;  
    padding-bottom: 0.5rem;
}
.highlight {
    margin-right: 1.5rem;
    background-color: white;
    font-size: 0.6rem;
    color: rgb(184, 183, 183);
    font-weight: lighter;
    width: 15rem;
    height: 10rem;
    padding: 0.5rem;
    border-radius: 20px;
}
#humidity, #wind, #visibility, #air {
    color: black;
    font-size: 2rem;
    text-align:start;
    padding-top: 0.2rem;
    font-weight: lighter;
}
#wind span {
    font-size: 1.2rem;
}
#icon-sunrise {
    width: 55px;
    height: 50px;
}
#icon-sunset {
    width: 50px;
    height: 45px;
}
 #sunrise {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
    padding-top: 1rem;
}
#uv-icon {
    width: 150px;
    height: 100px;
}
#uv-container {
    position: relative;
    display: inline-block;
    text-align: center;
}
#uv-title{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
}
#uv{
    font-size: 1.4rem;
    font-weight: lighter;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-today {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    padding-left: 2rem;
    padding-top: 1rem;
    width: 30%;
}
.search-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#city {
    font-size: 0.7rem;
    border: none;
    width: 80%;
}
.container-today #search {
    background-image: url(../img/search.png);
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-right: 3px;
}
.container-today #today-icon {
    background-image: url(../img/cloud-raining-sunny.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}
.container-today h1 {
    font-size: 3rem;
    font-weight: lighter;
    margin: 0;
}
.container-today #today-date {
    font-size: 1rem;
    font-weight: lighter;
}
.container-today #today-date #hour {
    color: rgb(184, 183, 183);
}
.container-today #today-date #day {
    color: black;
}
#today-weather__list {
    list-style-type: none;
    padding:0;
    border-top: 1px solid rgb(233, 231, 231);
    width: 80%;
}
.today-weather__list--item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#today-weather__list  .today-weather__list--item #rain-icon {
    background-image:  url(../img/rain.PNG);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
#today-weather__list .today-weather__list--item #cloud-icon {
    background-image:  url(../img/cloudy-icon.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
#today-weather__list .today-weather__list--item #cloud-icon.sunny {
    background-image:  url(../img/sun.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
#today-weather__list .today-weather__list--item #cloud-icon.cloud_rain_sun {
    background-image:  url(../img/cloud-raining-sunny.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.container-today .image-city {
    width: 15rem;
    height: 4rem;
    border-radius: 12%;
}
#today-icon.clouds {
    background-image: url(../img/cloudy-sunny.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}
#today-icon.clear {
    background-image: url(../img/sun.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}
#today-icon.rain {
    background-image: url(../img/cloud-raining.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}
#today-icon.cloud-rain-sun {
    background-image: url(../img/cloud-raining-sunny.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}
@media (max-width: 1200px) {
    body {
      overflow-y:visible;
    }
    .highlight{
      width: 20vw;
    }
    #icon-sunset, #icon-sunrise{
        width: 30px;
        height: 25px;
    }
    .container-today .image-city {
        width: 12rem;
        height: 3rem;
        padding-right: 1rem;
    }
}
@media (max-width: 768px) {
    body{
      overflow-y:visible;
    }
    .container-time{
        width: 100vw;
        padding-right: 4rem;
        background-color: rgba(255, 255, 255, 0.849);
    }
    .container{
        flex-direction: column;
    }
    .container-today{
        width: 100vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .highlights__title {
       text-align: center;
    }
    .highlight-container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .highlight {
        margin-bottom: 1rem;
        margin-right: 0;
        width: 15rem;
    }
    #week .day {
        margin-right: 0.5rem;
    }
    .navbar{
        padding-top: 2rem;
    }
    #icon-sunset, #icon-sunrise{
        width: 50px;
        height: 45px;
    }
}
